.cups-table-button-row {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}

.cups-table-button-row > * {
  margin-left: 10px;
}

#table {
  display: flex;
  margin: 20px 10px 10px 20px;
}

#table > * {
  margin-right: 10px;
}

#displaySection >  *:not(:last-child) {
  margin-right: 5px;
}
