<div class="cups">
  <div id="table">
    <div>Name:
      <div *ngFor="let cup of cups">
        <input [(ngModel)]="cup.name" placeholder="{{placeholders[cup.id]}}">
      </div>
    </div>

    <div>Material:
      <div *ngFor="let cup of cups">
        <select [(ngModel)]="cup.material">
          <option value="paper">paper</option>
          <option value="glass">glass</option>
          <option value="ceramic">ceramic</option>
        </select>
      </div>
    </div>

    <div>Display:
      <div id="displaySection" *ngFor="let cup of cups">
        <select [(ngModel)]="cup.display">
          <option value="small">small</option>
          <option value="medium">medium</option>
          <option value="large">large</option>
        </select>
        <button (click)="save(cup)">&#10003;</button>
        <button (click)="delete(cup); $event.stopPropagation()">x</button>
      </div>
    </div>
  </div>

  <div class='cups-table-button-row'>
    <button (click)="saveAll(this.cups)">Save All Changes</button>
    <button (click)="gotoCupsForm()">Add a New Cup</button>
  </div>
</div>
